.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: max-content;
	width: 100%;
	padding: 10px 4px;
	background-color: aliceblue;
	border-bottom: 2px solid pink;
}

.stats-container {
	display: grid;
	grid-auto-flow: column;
	gap: 2rem;
}

@media screen and (max-width: 420px) {
	.header {
		flex-direction: column;
		gap: 1rem;
	}
}