.round-indicator {
	width: 100%;
}

#round-indicator--desktop {
	border-right: 1px solid palevioletred;
}

#round-indicator--tablet {
	display: none;
	border-bottom: 1px solid palevioletred;
}

@media screen and (max-width: 768px) {
	#round-indicator--desktop {
		display: none;
	}
	#round-indicator--tablet {
		display: block;
	}
}