.App {
	display: grid;
	grid-template-rows: minmax(min-content, max-content) auto minmax(min-content, max-content);
	text-align: center;
	width: 100%;
	max-width: 100%;
	max-height: max-content;
	height: 100vh;
	background-color: azure;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.footer {
	padding: 2rem 0;
}

.footer>a {
	font-weight: 200;
}