.screen-overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.2);
	z-index: 3000;
}

.restart-modal {
	background-color: rgb(248, 236, 245);
	border: 3px solid palevioletred;
	border-radius: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -80%);
	transform: translate(-50%, -80%);
	padding: 1.5rem;
	min-width: 200px;
	width: fit-content;
	max-width: 1000px;
	max-height: max-content;
	font-family: 'Plus Jakarta Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI';
}

.restart-modal > .logo {
	margin-left: auto;
	margin-right: auto;
}

.primary-msg {
	margin: 1rem;
	color: rgb(49, 49, 49);
	max-width: max-content;
}

.restart-modal__stats {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 1rem 1.8rem;
	gap: 2rem;
	align-items: flex-end;
}

.restart-modal__stats dt {
	width: min-content;
	margin: 4px 0;
	font-weight: 500;
}

.restart-modal__stats dd {
	font-size: 1.5rem;
	font-weight: 200;
}

.restart-modal__button {
	height: max-content;
	padding: 8px 16px;
	border: 2px solid rgb(228, 156, 180);
	border-radius: 5px;
	cursor: pointer;
	color: palevioletred;
	font-weight: 500;
	font-size: 1.2rem;
	transition: all 0.3s ease;
}

.restart-modal__button:hover {
	border-color: palevioletred;
	background-color: rgba(219, 112, 147, 0.1);
}

.restart-modal>*>* {
	justify-content: center;
}
